.container {
  width: 580px
}

.numbers {
  height: 152px;
  width: 272px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.number {
  margin-bottom: var(--offset-base-size);
}

.number_done {
  color: var(--interface-success);
}

.number:nth-of-type(5) {
  margin-bottom: 0;
}

.number:last-of-type {
  margin-bottom: 0;
}
