.section {
  width: 600px;
  padding-bottom: calc(var(--offset-base-size) * 13);
  box-sizing: border-box;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: center;
}
