:root {
  --logo-width: 290px;
  --logo-height: 50px;
  --offset-base-size: 4px;
  --scroll-bar-width: 8px;
  --bg: #131316;
  --modal-bg: #1C1C21;
  --secondary-text: #8585AD;
  --primary-text: white;
  --interface-accent: #4c4cff;
}
