.card {
  width: 584px;
  height: 214px;
  background-color: var(--modal-bg);
  box-sizing: border-box;
  border-radius: calc(6 * var(--offset-base-size));
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card_wide {
  width: 844px;
  height: 246px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: var(--secondary-text)
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.status_done {
  color: var(--interface-success);
}

.bottom {
  display: flex;
  height: 64px; /* убрать */
  justify-content: space-between;
  align-items: center;
}

.images {
  display: flex;

}

.image {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 50%;
  border: calc(var(--offset-base-size) / 2) solid #801AB3;
  margin-left: -20px;
  background-color: var(--bg);
  box-sizing: border-box;
}

.image:first-of-type {
  margin-left: 0;
}

.last {
  position: relative;
  margin-left: -20px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(64px - var(--offset-base-size));
  width: calc(64px - var(--offset-base-size));
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: calc(var(--offset-base-size) / 2);
  right: calc(var(--offset-base-size) / 2);
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}
