.menu {
  position: relative;
  top: 156px;
  overflow-y: scroll;
  height: calc(95vh - 156px - 88px);
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text);
}

.menu::-webkit-scrollbar {
  width: var(--scroll-bar-width);
  background-color: var(--modal-bg);
}

.section {
  width: 600px;
}

.header {
  position: fixed;
  background-color: var(--bg);
}

.title {
  text-align: start;
}
