.container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header {
  position: relative;
  background-color: var(--modal-bg);
  padding: 0 calc(100% / 6) 0 calc(100% / 6);
}

.item {
  display: flex;
  align-items: center;
  color: var(--secondary-text);
  text-decoration: none;
}

.item_active {
  color: var(--primary-text);
}

.list__item:last-of-type {
  margin-left: auto;
}

.list__item:first-of-type {
  margin-right: 8px;
}

.title {
  margin: 0;
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
  position: absolute;
  top: calc((100% - var(--logo-height))/2);
  left: calc((100% - var(--logo-width))/2);
}
